[submodule "cmake/app-image"]
	path = cmake/app-image
	url = ../../holepunchto/cmake-app-image.git
[submodule "cmake/bare"]
	path = cmake/bare
	url = ../../holepunchto/cmake-bare.git
[submodule "cmake/ios"]
	path = cmake/ios
	url = ../../holepunchto/cmake-ios.git
[submodule "cmake/macos"]
	path = cmake/macos
	url = ../../holepunchto/cmake-macos.git
[submodule "cmake/msix"]
	path = cmake/msix
	url = ../../holepunchto/cmake-msix.git
[submodule "cmake/napi"]
	path = cmake/napi
	url = ../../holepunchto/cmake-napi.git
[submodule "cmake/npm"]
	path = cmake/npm
	url = ../../holepunchto/cmake-npm.git
[submodule "cmake/pear"]
	path = cmake/pear
	url = ../../holepunchto/cmake-pear.git
[submodule "cmake/toolchains"]
	path = cmake/toolchains
	url = ../../holepunchto/cmake-toolchains.git
[submodule "cmake/windows"]
	path = cmake/windows
	url = ../../holepunchto/cmake-windows.git
[submodule "compat/napi"]
	path = compat/napi
	url = ../../holepunchto/bare-compat-napi.git
